body { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1,
h2,
h3 {
    color: black;
    padding: 25px;
    text-shadow: 2px 2px blue;
}

.answer,
#timer {
    font-weight: 900;
}

#start {
    color: black;
}

.choices {
    text-align: center;
    border: groove 2px black;
    border-radius: 5%;
    margin: 0 35%;
}

.choices:hover {
    background-color: greenyellow;
    color: black;
	cursor:pointer;
}

#QuizArea {
    -webkit-box-shadow: 7px 5px 47px 0px blue;
    -moz-box-shadow: 7px 5px 47px 0px blue;
    box-shadow: 7px 5px 47px 0px blue;
}

.shadow {
    -webkit-box-shadow: -7px 6px 5px -1px blue;
    -moz-box-shadow: -7px 6px 5px -1px blue;
    box-shadow: -7px 6px 5px -1px blue;
}